@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

@import 'rangeStyle';
@import 'genFigure';
@import 'flexGrid';

body {
  font-family: 'Raleway';
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  background-color: #214c63;
}

.center {
  #colorBlock {
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: 2px solid #009688;
  }
}

.inputCSS {
  height: 25px;
  width: 250px;
  border: 2px solid #009688;
  border-radius: 10px;
  margin-bottom: 10px;
}
